h1 {
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px ;
    margin: 10px;
    font-weight: bolder;
    text-decoration: none ;
    color:black;
    background-color:lavender;
}

h2 {
    font-size:30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    padding: 20px ;
    margin: 10px;
    font-weight: bolder;
    text-decoration: none ;
    color:white;
    background-color:cadetblue;
}

p {
    font-family:'Franklin Gothic Medium',  sans-serif ;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
    color: black;
    background-color:bisque;
}

.logo {
    background-size: cover;
    background-image: url();
    height: 10vh;
    width: 20px;
}
